<div class="auth-viewport cyber-bg">
  <div class="auth-card glass-panel fade-in">

    <div class="logo-section mb-4 text-center">
      <div class="logo-glow-box">
        <i class="bi bi-bank2"></i>
      </div>
      <div class="mt-2">
        <h1 class="brand-title">Digital<span class="highlight">Bank</span></h1>
      </div>
    </div>

    <div *ngIf="errorMessage" class="error-toast mb-3">
      <i class="bi bi-shield-slash-fill me-2"></i> {{ errorMessage }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">

      <div class="mb-3">
        <label class="cyber-label">Nom</label>
        <div class="field-wrapper">
          <i class="bi bi-person-fill icon-field"></i>
          <input type="text" formControlName="username" placeholder="Identifiant">
        </div>
      </div>

      <div class="mb-3">
        <label class="cyber-label">Mot de passe</label>
        <div class="field-wrapper">
          <i class="bi bi-key-fill icon-field"></i>
          <input type="password" formControlName="password" placeholder="••••••••">
        </div>
      </div>

      <div class="mt-4">
        <button type="submit" [disabled]="loginForm.invalid" class="btn-cyber-primary w-100">
          ENTRER <i class="bi bi-unlock-fill ms-2"></i>
        </button>
      </div>

    </form>


  </div>
</div>
